
body { background-color: #E3DFFD;

  }
h1 { color: #635985;
    text-decoration: underline;
    text-decoration-color: #47307c;
    text-decoration-style: dotted;
    text-underline-offset: 10px;

}
h3{color: #635985;

}
hr { border-style: dotted none none;
     border-width: 3px;
     width: 3%;
     border-color: #47307c;
     

}  
#profile-pic{ border: dotted;}
